@font-face {
  font-family: 'Pixel Cowboy';
  src: url('../fonts/Pixel Cowboy.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eyvindr';
  src: url('../fonts/Eyvindr.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}