@use 'sass:math';
@import "fonts";

body {
  --max-width: 600px;
  all: unset;
  display: block;
  background: black;
  width: 100vw;
  height: 100dvh;
  color: white;
  font-family: 'Pixel Cowboy', sans-serif;
  user-select: none;
  overflow: hidden;

  .background [data-layer] {
    --bg-height: 100dvh;
    --bg-anim-duration: 60s;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--bg-height);
    width: calc(var(--bg-height) * 8 * 1920 / 1080);
    background: top left repeat-x;
    background-size: auto 100%;
    animation: bg-anim var(--bg-anim-duration) linear infinite;

    @keyframes bg-anim {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-12.5%);
      }
    }

    @media screen and (max-width: 600px) {
      --bg-height: 70dvh;
    }
  }

  @for $bg from 1 through 4 {
    @for $layer from 0 through 2 {
      .background[data-bg="bg#{$bg}"] [data-layer="#{$layer}"] {
        background-image: url('../img/city-#{$bg}-#{$layer}.png');
        --bg-anim-duration: #{((3 - $layer) * 60)}s;
      }
    }
  }

  @mixin nineSliceBg($src, $border) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url($src);
    background-size: 100% 100%;
    border-width: #{$border}px;
    border-style: solid;
    border-image: url($src);
    border-image-slice: $border fill;
  }

  @mixin button-bg() {
    @include nineSliceBg('../img/btn.png', 4);
  }

  @mixin font-shadow($width: 4px) {
    --c: #27231f;
    --s: #{$width};
    ---s: -#{$width};
    text-shadow: var(--c) var(--s) var(--s),
    var(--c) var(---s) var(---s),
    var(--c) var(--s) var(---s),
    var(--c) var(---s) var(--s);
  }

  main {
    max-width: var(--max-width);
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;

    .game {
      flex: 0 0 60%;
      height: 60%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      position: relative;

      .equation {
        font-size: min(90px, calc(100vw / 6.66));
        display: flex;
        flex-flow: row nowrap;
        line-height: 1;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
        color: #fff;
        @include font-shadow();

        &.win,
        &.lose {
          --s: 2px;
          ---s: -2px;
          font-size: 40px;
        }

        &.win {
          color: #74b750;
        }

        &.lose {
          color: #bd1a1a;
        }

        span {
          display: block;
        }

        > .input {
          position: relative;

          .value {
            opacity: 0;
          }

          .input {
            position: absolute;
            top: 0;
            right: 0;
          }

          &:last-child .input {
            left: 0;
            right: unset;
          }
        }

        &.lose > .input {
          .input {
            text-decoration: underline;
          }
        }
      }
    }

    .keyboard {
      flex: 0 0 40%;
      height: 40%;
      table-layout: fixed;
      border-collapse: collapse;

      td {
        text-align: center;
        vertical-align: middle;
        width: 33.33%;
        height: 25%;
        position: relative;
        font-size: min(55px, 10vh);
        line-height: 0;
        color: #9a7a25;
        cursor: pointer;
        transition: color 0.2s ease;

        .bg {
          @include button-bg();
        }

        .text {
          position: relative;
        }

        &.code--1 {
          color: #bd1a1a;
        }

        &.code--2 {
          color: #74b750;
        }

        @media (hover: hover) {
          &:hover {
            color: #ffdf30;
          }
        }
      }
    }

    @media screen and (max-height: 600px) {
      .game {
        flex: 0 0 40%;
        height: 40%;

        .equation {
          margin-bottom: 0.2em;
        }
      }
      .keyboard {
        flex: 0 0 60%;
        height: 60%;
      }
    }

    button {
      all: unset;
      position: relative;
      font-size: min(55px, 10vh);
      min-width: calc(min(55px, 10vh) + 0.4em);
      padding: 0.2em 0.4em;
      line-height: 1;
      color: #9a7a25;
      cursor: pointer;
      transition: color 0.2s ease;
      display: block;
      box-sizing: border-box;

      .bg {
        @include button-bg();
      }

      .text {
        position: relative;
        display: block;
        text-align: center;
      }

      @media (hover: hover) {
        &:hover {
          color: #ffdf30 !important;
        }
      }
    }

    .score {
      position: absolute;
      top: 0;
      left: 0;

      .bg {
        @include button-bg();
      }

      &.negative button {
        color: #bd1a1a;
      }
    }

    .inventory {
      --width: min(120px, 20vh);
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 100%;
      display: flex;
      flex-flow: row wrap;
      width: calc(2 * var(--width));

      li {
        display: block;
        margin: 0;
        padding: 0;
        width: var(--width);
        height: calc(var(--width) * 1.1);
        position: relative;
        background: #000;
        cursor: pointer;

        .bg {
          @include button-bg();
        }

        .icon {
          position: absolute;
          top: 4px;
          left: 4px;
          right: 4px;
          bottom: 4px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .price {
          position: absolute;
          display: none;
          bottom: 5%;
          left: 0;
          width: 100%;
          color: #ffffff;
          text-align: center;
          font-size: calc(var(--width) * 0.3);
          @include font-shadow(2px);
        }

        &.locked {
          .price {
            display: block;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/padlock.png") top 30% center no-repeat;
            background-size: 40% auto;
          }
        }

        @for $i from 1 through 4 {
          &[data-item="#{$i}"] .icon {
            background-image: url('../img/city-icon-#{$i}.png');
          }
          &.locked[data-item="#{$i}"] .icon {
            background-image: url('../img/city-icon-#{$i}-locked.png');
          }
        }
      }
    }

    .controls {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-flow: row nowrap;

      .help {
        padding-right: 0.3em;
      }
    }
  }
}